  <p>Copyright Michael Simmonds 2017</p>
  <p class = "iconThanks">Icons provided with thanks to <a href="http://www.flaticon.com/authors/kirill-kazachek" title="Kirill Kazachek">Kirill Kazachek</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> - licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
