<div class="examples-item">
  <div class="examples-item-container">
    <h4>Answer This</h4>
    <p>A platform to allow market researchers to ask multiple choice questions to users. The scheme is incentfied by the ability to win prizes</p>
    <p class="pLink readMore">read more</p>
  </div>


  <div class="laptop-image-composite">
    <a href="http://www.answerthis.nl" target="_blank">
      <!-- <div class="laptop-frame"> -->
      <img class="laptop-frame" src="<%= image_path "laptop-frame.png"%>" alt="">
      <!-- </div> -->
      <div class="screen">
        <img src="<%=image_path "screenshot-answerthis.png"%>" alt="">
      </div>
    </a>
  </div>


  <div class="examples-content short">
    <br>
    <p>The platform is built using Ruby on Rails. It has two user groups. The market researchers who can create questionnaires and endusers who answer questions in return for the chance to win a prize.
    </p><p>
      The application was built by a team consisting of <a href="https://github.com/jaspledean">Jaspledean</a>, <a href="https://github.com/Felsmo">Felsmo</a> and myself.
    </p>
    <a href="http://www.answerthis.nl" target="_blank">Visit answerthis.nlm</a>
    <p class="pLink readMore">read less</p>
  </div>
</div>
<hr width=40%>
