<div class="examples-item">
  <div class="laptop-image-composite">
    <a href="http://todo-react-rails.mtsdesign.co.uk" target="_blank">
      <img class="laptop-frame" src="<%= image_path "laptop-frame.png"%>" alt="">
      <div class="screen">
        <img src="<%=image_path "screenshot-todo.jpg"%>" alt="">
      </div>
    </a>
  </div>
  <div class="examples-item-container">
    <h4>Todo-react-rails</h4>
    <p>A todo list project to learn about using React.js with Rails. allows users to log in and save a list of items with description and due date</p>
    <p class="pLink readMore">read more</p>
  </div>
  <div class="examples-content short">
    <br>
    <p>I used React to create the views for a Rails backend. I was really pleased with the ease and efficiency of using React. The component based approach fits well with a more modular approach to frontend development
    </p><p>
      I used the react-rails gem which includes a few great helper functions. It helped get started quickly and allow me to concentrate on what I really wanted to do - learn about React.
    </p>
    <a href="http://todo-react-rails.mtsdesign.co.uk" target="_blank">Visit todo-react-rails</a>
    <p class="pLink readMore">read less</p>
  </div>
</div>
<hr width=40%>
