.examples-section {
 background: linear-gradient(to bottom, #feffff -10%,#878079 81%,#878079 81%,#887766 100%);
}

.examples-container {
  width: 100%;
  margin: auto;

}

.examples-item {
  display: flex;
  flex-wrap: wrap;

}

.examples-item>img{
  flex: 1 1 auto;
  width: 35%;
  height: 35%;
  max-width: 250px;
  margin:auto;
}
.laptop-image-composite{
  flex: 1 1 auto;
  width: 35%;
  height: 35%;
  max-width: 250px;
  margin:auto;
}

.examples-item-container {
  display: block;
  margin: auto;
  text-align: center;
  flex: 3 1 auto;
  max-width: 35em;
}

.examples-content {
  padding: 1.1em;
  display: block;
  width: 90%;
  margin:auto;
}

.short {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s;
}




.full {
  max-height: 50em;
  height: auto;
  overflow: hidden;
  transition: max-height 0.7s;
}

.pLink {
  font-size: 1.5em;
  text-decoration: underline;
}
.pLink:hover {
  cursor: pointer;
}
