---
title: mikesimmonds.io
---

<div class="page-home">

  <section class="header-section">
    <div class="title-container">
      <h1 class="page-title">Mike</h1>
      <h1 class="page-title">Simmonds</h1>
      <h2 class="page-title-tag">Creative Developer</h2>
      <!-- <h6 class="page-title-tag-training">(in training)</h6> -->
    </div>
    <div class="scroll-arrow-container">
      <img class="scroll_arrow" src="./images/scroll-arrow.svg" alt="">
    </div>
  </section>

  <section class="about-section">
    <h3>About</h3>
    <div class="about-section-container">
      <img class = "icon" src="./images/face.png" alt="">

      <p>  Hi, my name is Mike Simmonds and I'm a budding Web Developer living near Leiden in the Netherlands. </p>
      <p>  As well as building websites I concentrate my efforts on Rails and React projects.
      </p>
      <p>I am currently looking for Junior roles in companies based in the Netherlands or remotely. I am also available for professional freelance projects and pro bono work for charities. </p>

    <div>
  </section>

  <section class="icons-section">
    <div class="icons-container">
      <div class="icons-item">
        <img class="icon" src="./images/light-bulb.svg" alt="">
        <p>Brainstorming ideas and beautiful things make me happy</p>
      </div>
      <div class="icons-item">
        <img class ="icon" src="./images/conversation.svg" alt="">
        <p>A people-person fresh from a management role in the creative sector</p>
      </div>
      <div class="icons-item">
        <img class="icon" src="./images/cogwheel.svg" alt="">
        <p>Knowing how things work makes me tick - so does pretty code</p>
      </div>
    </div>
  </section>

  <section class="examples-section">
    <h3>Work</h3>
    <div class="examples-container">

    <%=partial 'components/examples/answerthis'%>
    <%=partial 'components/examples/todo-react-rails'%>

    <div class="examples-item">
      <div class="examples-item-container">
        <h4>Jim's Flickr Gallery</h4>
        <p>A good friend allowed me to use his fantastic travel photography to build a gallery site - my first hand-made node.js app</p>
        <p class="pLink readMore">read more</p>
      </div>
      <img src="./images/jimsLaptop.png" alt="">
      <div class="examples-content short">
        <br>
        <p>I used the Flickr API teach myself about http requests and API's.  I originally built the site in plain JS – before quickly realising the API key was visible in the code and was therefore insecure. I then rebuilt the page using a custom server in node.
        </p><p>
          I had a great time on my first real node project. The tutorials and books paid off. I got tripped up a couple of times trying to get my head around some of the finer points but it was great to make something of my own.
        </p>
        <a href="https://jimsflickrapi.herokuapp.com/">Visit jimsflickrapi.herokuapp.com</a>
        <p class="pLink readMore">read less</p>
      </div>
    </div>

    <hr width=40%>

    <div class="examples-item">
      <img src="./images/JVMLaptop.png" alt="">
      <div class="examples-item-container">
        <h4>Massage Therapy</h4>
        <p>Built for a friend who is a massage therapist and to practice my JS skills (and to get free massages!)</p>
        <p class="pLink readMore">read more</p>
      </div>
      <div class="examples-content short">
        <br>
        <p>Producing a calm, yet memorable design was the design brief. A number of different design iterations took place before I had a design we were both happy with.</p>
        <p>
          I have discovered how important it is to stick to a design process. If I had coded all of the various designs instead of mocking them up in inkscape the project would have become laborious.
        </p>
        <p>
          My work has given the client a place she can direct her customers that looks professional and suits the style of the business.
        </p>
        <a href="http://www.jennyvalemassagetherapy.co.uk">Visit www.jennyvalemassagetherapy.co.uk</a>
        <p class="pLink readMore">read less</p>
      </div>
    </div>




      <!-- <div class="examples-item">
        <img src="./images/hillsfestLaptop.png" alt="">
        <div class="examples-item-container">
          <h4>Hillsfest</h4>
          <p>Designed to promote a local arts festival in Sheffield - both the festival and the webpage were a great success!</p>
          <p class="pLink readMore">read more</p>
        </div>
        <div class="examples-content short">
          <br>
          <p>The festival orgainisation team had experience adding content to Wordpress blogs - so this was used as the platform. Issues arose as the site was required to cover too many bases - fundraising, promotion and information hub for festival-goers. It may have been better to have a few smaller and simpler, but more specific sites.</p>
          <p>I have come to realise it is important to know exactly what the site is required to do – before you begin.</p>
          <p>The hard work paid off, with great feedback from the organisers and the public about both the event and the website.</p>
          <a href="http://www.hillsfest.org" target="_blank">visit www.hillsfest.org</a>
          <p class="pLink readMore">read less</p>
        </div>
      </div>

      <hr width=40%>

      <div class="examples-item">
        <img src="./images/cupolaLaptop.png" alt="">
        <div class="examples-item-container">
          <h4>Cupola Framing</h4>
          <p>The site that started it all - Wordpress is great for content editors, but limiting for a developer.</p>
          <p class="pLink readMore">read more</p>
        </div>
        <div class="examples-content short">
          <br>
          <p>An online presence was required which aimed to drive sales and promote the business I was managing at the time. Wordpress was used to allow staff to upload content, however this meant that it took a lot of work to make the site look and function as I had intended. </p><p>
          Wordpress is great at what it is designed for but was too prescriptive and therefore unsuitable in this case.
        </p><p>
          Due to the high search engine rank and positive reviews a lot of customers were drawn to the company aiding year-on-year profit increase.</p>
          <a href="http://www.cupolaframing.com">Visit www.cupolaframing.com</a>
          <p class="pLink readMore">read less</p>
        </div>
      </div> -->



      <!-- <div class="examples-item">
        <div class="examples-item-container">
          <h4>Nail Fever</h4>
          <p>I was asked to create a site for a local nail salon - the small amount of content made for an interesting design challenge</p>
          <p class="pLink readMore">read more</p>
        </div>
        <img src="./images/nailfeverLaptop.png" alt="">
        <div class="examples-content short">
          <br>
          <p>
            The amount of content was limited to a hand written price list and 2 salon addresses - no photos or copy!
          </p><p>
            The site actually had two iterations. The first was a bootstrap site. I tried my best to use some awful photos and make the site look full but it ended up looking anaemic and uninspiring. I rebuilt the site with large hero images and used JS to navigate the content. This approach with no unnecessary information was more suitable for the project aims.
          </p><p>
            The lesson learned - Don’t try to force the content to do something it can’t do!
          </p>
          <a href="http://www.nailfever.mtsdesign.com"> Visit www.nail-fever.co.uk</a>
          <p class="pLink readMore">read less</p>
        </div>
      </div>

      <hr width=40%> -->



    </div>
  </section>

  <section class="quote-section">
    <div class="quote-section-container">
      <blockquote id="the_quote">“Without craftsmanship, inspiration is a mere reed shaken in the wind.”
      </blockquote>
      <h5 id="quote_by">-Johannes Brahms</h5>
    </div>
  </section>

  <section class="contact-section">
    <h3>Contact</h3>
    <div class="contact-section-container">
      <div class="contact-item">
        <a href="https://github.com/MichaelSimmonds/" target="_blank">
          <img class="icon" src="./images/github-logo.png" alt="">
          <p>GitHub</p>
        </a>
      </div>
      <div class="contact-item">
        <a href="http://www.linkedin.com/in/michael-simmonds" target="_blank">
          <img class="icon" src="./images/linkedin-logo.png" alt="">
          <p>LinkedIn</p>
        </a>
      </div>
      <div class="contact-item">
        <a href="mailto:mike@mikesimmonds.io">
          <img class="icon" src="./images/gmail-logo.png" alt="">
          <p>mike@mikesimmonds.io</p>
        </a>
      </div>
    </div>

  </section>

</div>
